.record-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px;
}
.record {
  height: 64px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: calc(72% - 10px);
  transition: 500ms ease-in-out;
}
.record.big {
  width: calc(100% - 20px);
}
.record .left-side {
  display: flex;
  align-items: center;
}
.record .left-side img {
  display: block;
  height: 48px;
  margin: 0 10px 0 0;
}
.record-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.record-details .category {
  font-weight: 700;
  font-size: 16px;
}
.record-details .account {
  font-weight: 400;
  font-size: 14px;
}
.record-details .extras {
  display: flex;
  font-weight: 300;
  font-size: 14px;
}
.records .right-side {
  display: flex;
  align-items: center;
}
.record .expense {
  color: #ff4949;
}
.record .income {
  color: #7dff49;
}
.record-actions {
  width: calc(28% - 10px);
  display: flex;
  transition: 500ms ease-in-out;
  overflow-x: hidden;
}
.record-actions.small {
  width: 0;
}
.record-actions .edit,
.record-actions .delete {
  width: calc(50% - 2px);
  height: 64px;
  border: none;
  margin: 0 0 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.record-actions .edit {
  background-color: #ffab35;
}
.record-actions .delete {
  background-color: #ff4949;
}

/* add-record */
.add-record {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 94%;
  background-color: #3c3c3c;
  border: 2px solid #000;
}
.add-record-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 10px;
}
.add-record .type-selector {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: #ed93cb;
  color: #f1f1f1;
}
.add-record .type-selector .income,
.add-record .type-selector .expense {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
.add-record .type-selector .active {
  background-color: #f4cff3;
  border-inline: 1px solid #000;
  color: #000000;
}
.add-record .type-selector .expense.active {
  -webkit-box-shadow: 4px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.add-record .type-selector .income.active {
  -webkit-box-shadow: -2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.add-record-details {
  display: flex;
  flex-direction: column;
}
.add-record-details .part1 {
  background-image: linear-gradient(69deg, #ed93cb, #ca82f8, #a1d9ff);
  color: #000000;
}
.add-record-details .part2 {
  background-color: #282828;
}
.add-record-details .part1,
.add-record-details .part2 {
  display: flex;
  flex-direction: column;
}
.add-record-details label {
  display: flex;
  flex-direction: column;
  margin: 8px 10px;
}
.amount-account-wrapper,
.date-time-wrapper {
  display: flex;
}
.add-record-details input,
.add-record-details select {
  height: 36px;
  padding: 0 10px;
  width: 100%;
  margin: 4px 0;
  border: none;
}
.add-record-details .part1 input,
.add-record-details .part1 select {
  background-color: #f4cff3;
}
.add-record-details .part2 input,
.add-record-details .part2 select {
  background-color: #202020;
  color: #f1f1f1;
}
.add-record-details textarea {
  margin: 4px 0;
  background-color: #202020;
  border: none;
  color: #f1f1f1;
}
.add-record-details .amount-label {
  width: 66%;
}
.add-record-details .account-label {
  width: 33%;
}
.add-record-details .date-label,
.add-record-details .time-label {
  width: 50%;
}
.add-record button {
  height: 42px;
  align-self: center;
  margin: 8px 0;
  background-color: #a1d9ff;
  width: 33%;
  border: none;
}
.add-record-close {
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .record .left-side {
    width: 80%;
  }
  .record .right-side {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
  .record .record-details {
    flex-direction: row;
    align-items: center;
    width: calc(100% - 64px);
  }
  .record-details .category {
    width: 30%;
  }
  .record-details .account {
    width: 30%;
  }
  .record-details .extras {
    width: 40%;
  }
  .record {
    width: calc(100% - 152px);
  }
  .record-actions {
    width: 132px;
  }
  .record-actions .edit,
  .record-actions .delete {
    width: 64px;
  }
}
