.record {
  width: 100%;
  background-color: #303030;
  height: 56px;
  margin: 10px 0;
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.record .left-side {
  height: 100%;
  display: flex;
  align-items: center;
}
.record .category-icon {
  width: 48px;
  margin: 0 10px;
}
.record .record-details {
  display: flex;
  flex-direction: column;
}
.record .Expense {
  color: #f14d4d;
}
.record .Income {
  color: #40ea73;
}
@media only screen and (min-width: 669px) {
  .record {
    width: 60%;
  }
}
