@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.main-content {
  width: calc(100vw - 42.6666%);
  margin-left: 16.6666%;
}
.left-content {
  width: 26%;
}
.w-70 {
  width: 74%;
}
