.nav {
  height: 56px;
  background-image: linear-gradient(69deg, #ed93cb, #ca82f8, #a1d9ff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

/* for tests */
.nav .left-side a {
  padding: 0 10px;
}
