.no-records {
  font-weight: 900;
  align-items: center;
  font-size: 16vh;
  line-height: 12vh;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.records {
  overflow-x: hidden;
}
